extends layout

block content
	ul(id='collaborators')
	button(id='share') Share
	h1 Jigsaw Puzzle
	button(id='authorizeButton', disabled) You must authorize
	button(id='shuffle') Shuffle
	button(id='solve') Solve
	ul(id='sortable')
	script
		gapi.load("auth:client,drive-realtime,drive-share", function() {});
	script(src='javascripts/strap.js')
