doctype 5
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=9')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
		script(src='//apis.google.com/js/api.js')
		script(src='javascripts/realtime-client-utils.js')
		script(src='//code.jquery.com/jquery-1.9.1.js')
		script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')
		script(src='javascripts/rlt-options.js')
	body
		block content
