body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 450px; 
}
#sortable li { 
    /*margin: 3px 3px 3px 0;*/
    padding: 1px; 
    float: left; 
    width: 100px; 
    height: 90px; 
    /*font-size: 4em;*/
    text-align: center; 
}
#share {
    float: right; 
}
#collaborators {
    list-style-type: none;
    height: 70px;
    margin: 0;
    padding: 0;
}
#collaborators li {
    margin: 3px 3px 3px 0;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
}
#collaborators li img {
    width: 50px;
    height: 50px;
}


